body {
  margin: 0px;
  background-color: #ebe9ec;
}

body,
html {
  @media (max-width: 1600px) {
    font-size: 14px;
  }

  @media (min-width: 1601px) {
    font-size: 16px;
  }
}

.form-label {
  font-family: 'Inter';
  line-height: 1.2;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: inline-block;
  color: #60668b;
  .mandatory-star {
    position: relative;
    &::after {
      position: absolute;
      color: red;
      top: 0;
      left: 100%;
      content: '*';
      font-size: 0.8rem;
      line-height: 1;
    }
  }
}

// .react-icon {
//   font-size: 1.5rem;
//   color: #fff;
// };

.sidebar-listing-menu {
  .menuItem,
  .menuSubItem {
    color: #bfbebf;
    &.MuiButtonBase-root {
      .MuiListItemIcon-root {
        font-size: 1.5rem;
        color: #bfbebf;
      }
      &.MuiListItemButton-root:hover {
        background-color: #60668b;
      }
    }
  }
}

.MuiDataGrid-columnHeaders {
  background-color: #f2f2f3;
  color: #60668b;
}


.MuiDataGrid-withBorderColor{
  border-color: rgb(236, 236, 236) !important;
}

// .MuiDataGrid-root {
//   .MuiDataGrid-row {
//     outline: 1px solid #ecececf9;
//     // border: 1px solid red;
//   }
// }

.input_file [type="file"] {
  /* Style the color of the message that says 'No file chosen' */
    color: #878787;
  }

.input_file [type="file"]::-webkit-file-upload-button {
background: #60668b;
border: 1px solid #60668b;
border-radius: 4px;
color: #fff;
cursor: pointer;
font-size: 12px;
outline: none;
padding: 10px 20px;
text-transform: uppercase;
transition: all 1s ease;
  }

.MuiFormHelperText-root {
  color: #E9394F !important
}  

